.navbar .btn-outline-primary {
  color: #ff88eb;
  border-color: #ff88eb;
}

.navbar .btn-outline-primary:hover {
  background-color: #ff88eb;
  border-color: #ff88eb;
  color: white;
}

.container .btn-outline-danger {
  color: #920079;
  border-color: #920079;
}

.container .btn-outline-danger:hover {
  background-color: #920079;
  border-color: #920079;
  color: white;
}

.container .navbar-brand {
  font-family: cursive;
  font-size: 1.5em;
}